*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  font-family: var(--font-body);
  color: var(--color-black);
  background: var(--color-white);
  margin: 0;
  padding-top: var(--navbar-h);
  line-height: 1.6;
  font-size: 1.125rem;
}
